<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>

    <!--highcharts-->

    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/europe.js"></script>
    
    

    

    <title>Covid Tracker</title>
</head>

<body>

    <!-- Below block taken from bootstrap -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h2 class="my-0 mr-md-auto font-weight-normal">Covid-19 Tracker</h2>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="btn btn-outline-secondary" href="/profile">Profile</a>
        </nav>
        <a class="btn btn-outline-primary" href="/">Sign Out</a>
    </div>

    <div class="container text-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/europe">Europe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ireland">Ireland</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vaccinations">Vaccinations</a>
            </li>
        </ul>
    </div>

    <br>
    <!-- Layout and icons from bootstrap -->
    <div class="container text-center">

        <div class="card">
            <div class="card-body">
                <h1>EUROPE</h1>
            </div>
        </div>
        <br>
    </div>


    <div id="europe_map">
        
    </div>
    <h5>hello</h5>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <!-- var data is used to join data from europe_list to the chart and map by iso country code -->
        <script type="text/javascript">
            var data = [
                    ['dk', {{ europe[2][europe[0].index('DK')] }}],
                    ['fo', {{ europe[2][europe[0].index('FO')] }}],
                    ['hr', {{ europe[2][europe[0].index('HR')] }}],
                    ['nl', {{ europe[2][europe[0].index('NL')] }}],
                    ['ee', {{ europe[2][europe[0].index('EE')] }}],
                    ['bg', {{ europe[2][europe[0].index('BG')] }}],
                    ['es',{{ europe[2][europe[0].index('ES')] }}],
                    ['it',{{ europe[2][europe[0].index('IT')] }}],
                    ['va',{{ europe[2][europe[0].index('VA')] }}],
                    ['tr', {{ europe[2][europe[0].index('TR')] }}],
                    ['mt', {{ europe[2][europe[0].index('MT')] }}],
                    ['fr', {{ europe[2][europe[0].index('FR')] }}],
                    ['no', {{ europe[2][europe[0].index('NO')] }}],
                    ['de', {{ europe[2][europe[0].index('DE')] }}],
                    ['ie', {{ europe[2][europe[0].index('IE')] }}],
                    ['ua', {{ europe[2][europe[0].index('UA')] }}],
                    ['fi', {{ europe[2][europe[0].index('FI')] }}],
                    ['se', {{ europe[2][europe[0].index('DE')] }}],
                    ['ru', {{ europe[2][europe[0].index('RU')] }}],
                    ['gb', {{ europe[2][europe[0].index('GB')] }}],
                    ['cy', {{ europe[2][europe[0].index('CY')] }}],
                    ['pt', {{ europe[2][europe[0].index('PT')] }}],
                    ['gr', {{ europe[2][europe[0].index('GR')] }}],
                    ['lt', {{ europe[2][europe[0].index('LT')] }}],
                    ['si', {{ europe[2][europe[0].index('SI')] }}],
                    ['ba', {{ europe[2][europe[0].index('BA')] }}],
                    ['mc', {{ europe[2][europe[0].index('MC')] }}],
                    ['al', {{ europe[2][europe[0].index('AL')] }}],
                    ['nc', {{ europe[2][europe[0].index('CY')] }}],
                    ['rs', {{ europe[2][europe[0].index('RS')] }}],
                    ['ro', {{ europe[2][europe[0].index('RO')] }}],
                    ['me', {{ europe[2][europe[0].index('ME')] }}],
                    ['li', {{ europe[2][europe[0].index('LI')] }}],
                    ['at', {{ europe[2][europe[0].index('AT')] }}],
                    ['sk', {{ europe[2][europe[0].index('SK')] }}],
                    ['hu', {{ europe[2][europe[0].index('HU')] }}],
                    ['ad', {{ europe[2][europe[0].index('AD')] }}],
                    ['lu', {{ europe[2][europe[0].index('LU')] }}],
                    ['ch', {{ europe[2][europe[0].index('CH')] }}],
                    ['be', {{ europe[2][europe[0].index('BE')] }}],
                    ['pl', {{ europe[2][europe[0].index('PL')] }}],
                    ['mk', {{ europe[2][europe[0].index('MK')] }}],
                    ['lv', {{ europe[2][europe[0].index('LV')] }}],
                    ['by', {{ europe[2][europe[0].index('BY')] }}],
                    ['is', {{ europe[2][europe[0].index('IS')] }}],
                    ['md', {{ europe[2][europe[0].index('MD')] }}],
                    ['cz', {{ europe[2][europe[0].index('CZ')] }}]
                ];

                // Create the chart
                Highcharts.mapChart('europe_map', {
                    chart: {
                        map: 'custom/europe'
                    },

                    title: {
                        text: 'Cases per Country Across Europe'
                    },

                    subtitle: {
                        text: 'Source map: <a href="http://code.highcharts.com/mapdata/custom/europe.js">Europe</a>'
                    },

                    mapNavigation: {
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },

                    colorAxis: {
                        min: 0
                    },

                    series: [{
                        data: data,
                        name: 'Total Cases',
                        states: {
                            hover: {
                                color: '#BADA55'
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        }
                    }]
                });
        </script>

</body>

<html>