<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

    <title>Hello, world!</title>
</head>

<body>

    <!-- Below block taken from bootstrap -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h2 class="my-0 mr-md-auto font-weight-normal">Covid-19 Tracker</h2>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="btn btn-outline-secondary" href="/">Profile</a>
        </nav>
        <a class="btn btn-outline-primary" href="/">Sign Out</a>
    </div>

    <div class="container text-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/europe">Europe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ireland">Ireland</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vaccinations">Vaccinations</a>
            </li>
        </ul>
    </div>

    <!--below from the vid https://www.youtube.com/watch?v=dam0GPOAvVI&t=5696s section[message flashing] -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class=" display-1 text-light"> This is a test </p>
            </div>
            <div class="col-md-4">
                <div class="card mt-100">
                    <div class="card-body">
                        <label for="email">DELETE PROFILE</label>
                        <form class="form" method="post" action="/update">
                            <label for="email">Email</label>
                            <br>
                            <input type="email" class="form-control" name="demail">
                            <br>
                            <label for="password">Current Password</label>
                            <input type="password" class="form-control" name="dpassword">
                            <br>
                            <input type="submit" class="btn btn-primary btn-block" Value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mt-100">
                    <div class="card-body">
                        <form class="form" method="post" action="/update">
                            <label for="email">Email</label>
                            <br>
                            <input type="email" class="form-control" name="uemail">
                            <br>
                            <label for="password">Current Password</label>
                            <input type="password" class="form-control" name="upassword">
                            <br>
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" name="new_password">
                            <br>
                            <input type="submit" class="btn btn-primary btn-block" Value="Update">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>